/* .App {
    text-align: center;
    padding: 2rem;
  }
  
  .color-table {
    margin-top: 2rem;
  }
  
  table {
    width: 100%;
    border-collapse: collapse;
  }
  
  th, td {
    border: 1px solid #ddd;
    padding: 0.5rem;
  }
   */

.table{
  width:50%;
}
.colordiv{
  width: 10%;
  height: 40px;
  border-radius: 5px;
}
@media  screen and (max-width:500px) {
  .table{
    width: 90%;
  }
  .colordiv{
    width: 20%;
  }
}